/* Definición de variables */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

:root {
  padding: 0;
  --verde: #016c7a;
  --blanco: #FFFFFF;
  --rojo: #6e0134;
  --oscuro: #000000;
  --titulos: "raleway";
  --parrafos: "ralway";
  --gris: #ddd9d981;
  --gris2: rgb(221, 217, 217);

}

/* Estilos generales del cuerpo del documento */
body {
  font-family: Arial, sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  background-color: #cbcaca;
  color: #333;
}

/* Estilos del encabezado */
.header {
  width: 100%;
  background-color: #333;
  padding: 1rem 0;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

/* Estilos de la barra de navegación */
.header .logo {
  color: #cbcaca;
  font-family: Kranky;
  font-size: 32px;
}

.header .button {
  display: none;
  width: 2em;
  height: 2em;
}

.header .svg {
  width: 2em;
  height: 2em;
  margin: -1em;
  fill: white;
  background-color: #333;
}

.header .ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.header .li {
  margin-right: 2rem;
}

/* Estilos de los enlaces de navegación */
nav a {
  text-decoration: none;
  color: white;
}

/* Estilos para pantallas con un ancho máximo de 768px */
@media screen and (max-width: 768px) {
  .header .button {
    display: block;
    cursor: pointer;
    margin: 0 10px;
  }

  .header .navbar {
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: all .5s ease;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  .header .navbar.activo {
    height: 35vh;
  }

  .navbar.activo li {
    font-family: Arial, Helvetica, sans-serif;
    margin: 9px 0;
  }

  .header .ul {
    flex-direction: column;
  }

  .navbar a {
    margin: 1rem;
  }
}

/* Estilos del contenido de la página de inicio (VIDEO) */
.cont-vid {
  position: relative;
  padding: 5px 0;
  background-color: #333;
}

.cont-vid::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.37);
}

.cont-text {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4rem 0;

}

.cont-text h2 {
  color: var(--blanco);
  font-size: 10vmax;
}

/* Estilos para la pantalla pequeña (max-width: 768px) */
@media screen and (max-width: 768px) {
  .cont-text h2 {
    height: 80%;
    font-size: 5vmax;
  }

  .cont-text {
    position: absolute;
    margin: 4rem 0;
    height: 10%;
    font-size: 2vmax;
  }
}

video {
  width: 100%;
  height: 100%;
  opacity: 60%;
}

.btn-bordes {
  background-color: lightgray;
  color: black;
  padding: 7px;
  border: 2px;
  border-color: #000000;
  border-radius: 10px;
  transition-duration: 1;
}

.btn-bordes:hover {
  background-color: lightblue;
  color: black;
  padding: 8px;
  border: #0056b3;
  border-radius: 15px;
  transition-duration: 1;


}

/* Estilos para Carrousel */
.carrtext {
  text-align: center;
  color: black;
  display: flex;
  flex-direction: column;

}

.carrsect {
  display: flex;
  width: 768px;
  height: 768px;
  margin: auto;
  border-radius: 15px;
  border: #000000;
  position: relative;


}

.carrsect img {
  width: 50px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .7;
  transition: .5s ease;

}

.carrsect img:hover {
  cursor: crosshair;
  width: 480px;
  height: auto;
  opacity: 1;
  filter: contrast(120%);

}

/* Media query para carrousel */

@media screen and (max-width: 768px) {
  .carrtext {
    font-size: 80%;
  }

  .carrsect {
    padding: 1px;
    margin: auto;
    width: 320px;
    height: 480px;
  }

  .carrsect img {
    display: flex;
    width: 20px;
    max-width: 60%;

  }

  .carrsect img:hover {
    max-width: 260px;
  }

}

@media screen and (max-width: 480px) {
  .carrtext {
    font-size: 80%;
  }

  .carrsect {
    padding: 1px;
    margin: 10px;
    width: 320px;
    height: 480px;
  }

  .carrsect img {
    display: flex;
    width: 20px;
    max-width: 60%;

  }

  .carrsect img:hover {
    max-width: 260px;
    width: 320px;
  }

}

/* Estilos del footer */
.footer {
  background-color: #333;
  color: white;
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-left,
.footer-right {
  flex: 1;
  text-align: left;
  margin-bottom: 20px;
  /* Agregado para separar los elementos en dispositivos pequeños */
}

.footer-left a,
.footer-right a {
  color: white;
  text-decoration: none;
  transition: color 0.2s;
  margin-right: 10px;
}

.footer-left a:hover,
.footer-right a:hover {
  color: rgb(0, 128, 128);
}

.page-info {
  text-align: right;
  margin-top: -20px;
  margin-left: auto;
}

.footer-right {
  flex: 1;
  text-align: left;
  margin-left: 0;
  /* Eliminado el margen izquierdo en dispositivos pequeños */
}

.footer-left {
  line-height: 1.5;
}

.social-media {
  text-align: center;
  /* Alinear los enlaces en el centro en dispositivos pequeños */
  margin-top: 20px;
  /* Añadido espacio superior para separar los enlaces en dispositivos pequeños */
}

@media screen and (max-width: 768px) {
  .footer {
    height: 50%;
    font-size: 2vmax;
  }

  .footer-left {
    display: none;
  }

  .social-media {
    display: flex;
    flex-direction: column;
    text-align: left;
    text-decoration: none;
  }

  .social-media a {
    margin: 5px 0;
  }

}

/* Estilos para enlaces */
a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
  font-weight: bold;
}

a:hover {
  color: #0056b3;
  font-weight: bold;
}

/* Estilos para S3 Gallery */

.s3-gallery {
  width: 80%;
  margin: 50px auto 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.s3-gallery img {
  max-height: 240px;
  max-width: 180px;
  width: 100%;
  cursor: pointer;
  transition: 1s;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
  object-fit: contain;
}

.s3-gallery img:hover {
  transform: scale(1.5);
}

.s3-img {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.s3-img span {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

.s3-img img {
  width: 90%;
  max-width: 100%;
}

.frm-upload {
  align-items: center;
  text-align: center;
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  align-self: center;
  justify-self: center;
}

.inp-upload {
  margin-left: 40% ; 
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-self: center;
  justify-self: center;
}

.btn-upload {
  width: 90px;
  padding: 10px;
  margin: 5px 0;
  font-size: 16px;
  text-align: center;
  color: #0b0a0a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Estilos para Formulario CONTACTO */

/* Estilos para About-Us */